<section class="form-container">
  <header>
    <h3>Add new product</h3>
  </header>

  <form [formGroup]="productForm" (submit)="submit()">
    <mat-form-field ngDefaultControl formControlName="Name">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Example: Buzz" />
      <mat-hint>Example: Buzz</mat-hint>
    </mat-form-field>

    <mat-form-field ngDefaultControl formControlName="Description">
      <mat-label>Description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field ngDefaultControl formControlName="Company">
        <mat-label>Company</mat-label>
        <input matInput placeholder="Example: Pixar" />
        <mat-hint>Example: Pixar</mat-hint>
      </mat-form-field>

      <mat-form-field ngDefaultControl formControlName="ImageUrl">
        <mat-label>Image Url</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>

      <mat-form-field  ngDefaultControl formControlName="AgeRestriction">
        <mat-label>Age Restriction</mat-label>
        <input matInput type="number" placeholder="Ex. 12" >
        <span matSuffix>years</span>
      </mat-form-field>

      <mat-form-field appearance="fill" ngDefaultControl formControlName="Price">
        <mat-label>Price</mat-label>
        <input matInput type="number" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        
      </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">
      Save Changes
    </button>
  </form>
</section>
