<!-- <app-products-table></app-products-table> -->
<div class="TopBar">
  <button
    mat-icon-button
    color="primary"
    aria-label="Example icon button with a home icon"
    matTooltip="Refresh"
    (click)="productService.LoadProductList();"
  >
    <mat-icon>refresh</mat-icon>
  </button>
  <button
    mat-icon-button
    color="primary"
    (click)="openDialog()"
    matTooltip="Add new"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
</div>

<div class="Card-Container" *ngIf="productService.products.length>0 else Loading" >
  <section *ngFor="let product of productService.products">
    <app-product-card [product]="product"></app-product-card>
  </section>
</div>

<ng-template #Loading>
<div class="spinner"><mat-spinner></mat-spinner>
</div>
</ng-template>
